.u-section-1 {
  min-height: 875px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 1px 0 1px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 874px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 165px;
  height: 165px;
  background-image: url("../../../assets/images/novidades/119218434_159946992401964_4892185430606408188_n.jpg");
  background-position: 50% 50%;
  margin: 100px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  font-size: 1.25rem;
  margin: 58px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 59px;
  min-height: 16px;
  width: 216px;
  min-width: 88px;
  margin: 71px 39px 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../../../assets/images/novidades/rrtg-min.jpg");
  background-position: 50% 50%;
  min-height: 874px;
}

.u-section-1 .u-container-layout-2 {
  padding: 60px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-family: Alata;
  font-size: 1.875rem;
  margin: 61px 222px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 4.5rem;
  font-family: Alata;
  text-shadow: 2px 2px 8px rgba(111,66,80,0.4);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 25px 69px 0 0;
}

.u-section-1 .u-text-4 {
  font-family: Roboto, sans-serif;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 1.875rem;
  text-transform: none;
  margin: 27px 127px 0 0;
}

.u-section-1 .u-line-1 {
  width: 612px;
  height: 3px;
  transform-origin: left center;
  margin: 39px auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 39px 233px 0 25px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 16px auto 0 27px;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  color: rgb(231, 43, 101) !important;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 690px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1057px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 34px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 144px;
    margin-right: NaNpx;
  }

  .u-section-1 .u-image-2 {
    min-height: 721px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 251px;
    margin-right: 122px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.75rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 27px;
  }

  .u-section-1 .u-line-1 {
    width: 350px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 118px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 486px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 156px;
    height: 156px;
  }

  .u-section-1 .u-image-2 {
    min-height: 552px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 284px;
    margin-right: 72px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 300px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 959px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 50px 50px 50px 40px;
  }

  .u-section-1 .u-image-2 {
    min-height: 591px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 50px 50px 50px 40px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 697px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    min-height: 372px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }
}