html, body {
	height: 80%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	font-size: 12px;
	/*margin-bottom: 20px;*/
}

.center .materialboxed,
.center-align .materialboxed {
    margin: 0 auto; position: relative !important;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #7986cb;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border-color:  #3949ab !important;
    background-color: #3949ab !important;
}

[type="radio"]:not(:checked)+span:before, 
[type="radio"]:not(:checked)+span:after, 
[type="radio"]:checked+span:before, 
[type="radio"]:checked+span:after, 
[type="radio"].with-gap:checked+span:before, 
[type="radio"].with-gap:checked+span:after {
    border-radius: 0% !important;
}

[type="radio"]:checked+span:after, 
[type="radio"].with-gap:checked+span:after {
    background-color: #3f51b5;
}

[type="radio"]:checked+span:after, 
[type="radio"].with-gap:checked+span:before, 
[type="radio"].with-gap:checked+span:after {
    border: 2px solid #3f51b5;
}

.avaliar {
	cursor: pointer;
}

.progress .indeterminate {
	background-color: #fff !important; 
}

.progress {
	background-color: #3f51b5 !important; 
}

.centerFOTO .materialboxed,
.right-align .materialboxed {
    margin: 0 auto; 
    position: relative !important;
}

.tapmenu{
  top: 20px;
  position: fixed;
  right: 20px;
}

main {
	margin-bottom: 80px;
}

.bottom {
	margin-top: 80px;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
	position: relative !important;
}

.parallax-container {
	/*padding: 22px;*/
  	height: 150px;
  	/*background: #9e9e9e;*/
  	/*z-index: 0;*/
  	/*-webkit-border-radius: 0 0 50px 50px;*/
	/*border-radius: 0 0 50px 50px;*/
	margin-bottom: 20px;
}

.negativa {
	margin-top: -60px;
}

.no-shadow

.quadrado {
	width: 28px;
	height: 28px;
	margin: 8px;
	float: left;
	cursor: pointer;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    font-size: 34px;
}

nav {
	height: 80px;
}

.nav-bottom {
	position: fixed;
	bottom: 0px;
	left: 0;
	z-index: 9999;
	width: 100%;
	padding-top: 0px;
	right: auto;
	top: auto;
}

.logo-menu-left {
	width: 85px;
	border-radius: 50px;
	margin-bottom: -20px;
}

.separador {
	margin-bottom: 10px;
}

.menu-topo {
	position: absolute;
	top: 20px;
	right: 26px;
	z-index: 9999;
}

.menu-left {
	height: 100%;
	width: 210px;
	overflow: hidden;
	z-index: 999;
}

.orelha {
	position: absolute;
	top: 200px;
	left: 190px;
	width: 70px;
	height: 70px;
	background: #1a237e; /* fallback */
	background:
		radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 50px, #1a237e 15px);
}

.alerta-topo {
	position: absolute;
	top: 18px;
	right: 18px;
	z-index: 9999;
}

.tab a:focus, a.active {
	background-color: rgba(176,170,170,0.2) !important;
	color: #757575 !important;
}


.tabs .tab a {
	color: rgba(10,100,115,1.9) !important;
}

.tab a:hover {
	color: rgba(10,100,115,0.7) !important;
}

.indicator {
	background-color: #3f51b5 !important;
}

.btn-large {
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
}

.btn {
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
}

.btn:hover {
	background-color: #5c6bc0;
}

.no-shadow {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.grande {
	font-size: 24px !important;
	font-weight: bold;
}

.card {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#closebt-container {
	position: relative;
	width:10%;
	float: right;
	text-align:center;
	margin-top:40px;
	margin-right:40px;
}

.modalnovo {
	color: #fff;
	font-size: 12px;
}

.closebt {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	cursor:pointer;
}

.closebt:hover {
	transform:rotate(180deg);
}

.full-width {
	margin-top: 10px;
	width: 100%;
}

.input-field {
	margin-bottom: 1px;
}

.img-topo {
	margin-top: -10px;
}

.openMenu {
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 999;
}

/*.leaflet-routing-alt {
	display: none;
}*/

.linkHover:hover {
  	background-color: rgba(97, 97, 97, 0.2) !important;
	-webkit-transition: all 0.2s ease-in;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}

/* começo das steps do cadastro de cargas*/
/* Make circles that indicate the steps of the form: */
.step {
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.9;
}

.step.active {
  opacity: 2;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

#regForm {
  /*background-color: #757575;*/
  margin: 20px auto;
  padding: 20px;
}

.enderecos{
    width:45%;
    margin:3rem auto;
    background:#fff;
    padding:20px;
}

.heading{
    color:#fff;
    text-align:center;
    text-shadow:0 0 4px rgba(0,0,0,0.25);
}

.input-group{
    margin-bottom:1rem;
    cursor:pointer;
}

.removeSlide {
    position: absolute;
    top: 45%;
    cursor: pointer;
}

@media(max-width:746px){
    .enderecos{
        width:80%;
    }
    .removeSlide {
        position: unset;
        float: right;
    }
}

@media only screen and (min-width: 600px) {
  	.img-topo {
		margin-top: -150px;
	}
	header, main, footer {
      padding-left: 0px;
    }
	.parallax-container {
		/*padding: 22px;*/
	  	height: 150px;
	  	margin-bottom: 20px;
	  	/*background: #9e9e9e;*/
	  	/*-webkit-border-radius: 0 0 50px 0;*/
		/*border-radius: 0 0 50px 0;*/
	}
}

@media only screen and (max-width: 950px) {
  	/*gambiarra do botao do chat de mensagens nao mecher estou arrumando - Salomao*/
	.fixed-action-btn{
		bottom: 70px !important;
		right: 5px;
	}

	main {
		margin-bottom: 120px;
	}

	html, body {
		margin-bottom: 120px;
	}
}

@media only screen and (max-width: 550px) {
  	/*gambiarra do botao do chat de mensagens nao mecher estou arrumando - Salomao*/
	.fixed-action-btn{
		bottom: 80px !important;
		right: 0px;
	}
}

@media only screen and (min-width : 992px) {
  	header, main, footer {
    	padding-left: 210px;
    	margin-bottom: 0px;
	} 
	.link {
		padding-left: 0px !important;
    	margin-bottom: 0px;
	}  
}

.btnEstados {
	border: 2px solid #757575; 
	border-radius: 15px;
}

.chips-cargas {
	position: absolute; 
	right: 4px; 
	top: 9px; 
	z-index: 999;
}

.marker-carga{
	position:absolute;
	width:100%;
	height:auto;
	z-index:100000;
	margin-top:8px;
	font-size:10px;
	font-weight:700;
	text-align:center;
	color:#fff
}

.leaflet-div-icon{
	border:none!important;
	background:none!important
}

.linha-tempo {
	border-left: 8px solid #1a237e;
}

#lista td {
	height: 53px;
}

/*modificações no materialize para se tornar um framework 
muito melhor não mexer nem que a vaca tussa.*/

/*input[type=text]{   
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #cccccc; 
    border:1px solid #000000;
    width:150px
}*/
 
textarea {
	margin-top: 5px;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding: 12px;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 1px solid #aaaaaa;
  border-radius:4px;
}

select {
  background-color: rgba(255,255,255,0.9);	
  padding: 10px;
  width: 100%;
  height: auto;
  border: 1px solid #aaaaaa !important;
  border-radius:4px;
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.35; /* ajustes no tamnho para ficarem no padrao geral */
    margin: 0;
}

/*macumba para funcionar*/
@media only screen and (min-width: 992px) {
	html {
	    font-size: 14px;
	}
	
	.container {
		width: 70vw;
	}
}

.material-tooltip {
  background-color: white;
  color: blue;
  border: 1px solid blue;
}	
