:root {
    --white: #fff;
    --blue: blue;
    --dashboard: #1565c0;
   
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

* {
	    font-family: 'Montserrat', sans-serif;
}

strong {
    font-weight: bold;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    font-size: 34px;
}

.alerta-topo {
	position: absolute;
	top: 58px;
	right: 18px;
	z-index: 9999;
}

.material-tooltip {
  background-color: white;
  color: blue;
  border: 1px solid blue;
}	

.nav-bottom {
	position: fixed;
	bottom: 0px;
	left: 0;
	z-index: 9999;
	height: 125px;
	width: 100%;
	padding-top: 20px;
	right: auto;
	top: auto;
}

.dropdown-content {
	top: 65px !important;
	width: 200px;
}

.navColor {
	background-color: #1565c0;
}

.navText {
	color: #1565c0;
}

.navButton {
	background-color: #1565c0;	
}

.full-width {
	margin-top: 10px;
	width: 100%;
}

.no-shadow {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-bottom: solid 1px #ccc;
}

.circle {
	height: 80px;
	width: 80px;
}



.input_azul {
	/* background: -webkit-linear-gradient(to right, #FF4B2B, #6372ff); */
	/* background: linear-gradient(to right, #FF4B2B, #6372ff); */
	border: 1px solid #6372ff;
	/* border-radius: 20px;  */
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	color: #6372ff;
	outline: none;
	font-weight: bold;
}

.input_azul::-webkit-input-placeholder {
	color: #6372ff;
}

#msg::-webkit-input-placeholder {
	color: #6372ff;
}

@media only screen and (min-width : 992px) {
  	header, main, footer {
    	padding-left: 90px;
    	margin-bottom: 0px;
	} 

	.container { 
		width: 80%;
	}
}

body::-webkit-scrollbar {
    width: 8px
}  

body::-webkit-scrollbar-thumb {   
	background-color: #6372ff;   
}

.collapsible li.active i {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.collapsible li i {
  transition: .1s all linear;
}

.collapsible.popout li.active .collapsible-header {
	background-color: #1565C0;
	color: #fff;	
}

.inputCupom {
	width: 100%;
  	box-sizing: border-box;
  	border: 1px solid #ebebeb;
  	padding: 14px 20px;
  	border-radius: 5px;
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	-o-border-radius: 5px;
  	-ms-border-radius: 5px;
  	font-size: 14px;
  	font-family: 'Poppins'; 
}

.inputCupom {
/* background: -webkit-linear-gradient(to right, #FF4B2B, #6372ff); */
/* background: linear-gradient(to right, #FF4B2B, #6372ff); */
border: 1px solid #2196F3;
/* border-radius: 20px;  */
padding: 12px 15px;
margin: 8px 0;
width: 100%;
color: #2196F3;
outline: none;
font-weight: bold;
}
.inputCupom::-webkit-input-placeholder {
color: #2196F3;
}

.alinhaTexto {
	text-align: left;
}

.clean {
    background: none;
    box-shadow: none;
}
.clean .breadcrumb {
	color: #2196F3;
}
.clean .breadcrumb:before {
    color: #2196F3;
}

.mostraHover li:hover{
	background-color: rgba(0, 0, 0, .2)
}

.user-view{
	margin-bottom: 15px !important;
}

.nenhum-item-cadastrado {
    color: #333;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid #CCC;
    margin-bottom: 25px;
}

.tabelaHistorico {
    /* display:block; */
    border: 1px solid #CCC;
    border-collapse: separate;
    border-spacing: 0px; 
    width: 100%;
    /* height: 300px; */

}

.tabelaHistorico tr {
    padding: 50px;
    /* display: table-cell; */
    /* text-align: left; */
    vertical-align: top;
    /* border-radius: 2px; */
}


.notificacoes a{
	display:block;
}

.notificacoes li,p{
	padding:0px;
	margin:0px;
}

.notificacoes p{
	line-height:25px;
	font-size:12px;
}
.notificacoes ul{
	margin:0;
	padding:0;
}

/* FILTRO EXIBIR BUSCANDO POR */
/* .caixa-busca{
    width: 100%;
    border-bottom: 1px solid#dfdfdf !important;
    border-top: 1px solid #dfdfdf !important;
    margin-bottom: 15px;
    white-space: nowrap !important;
    height: 40px;
    align-content: center;
    padding-top: 7px;
}

.caixa-busca a{
    display: inline !important;
    color: #777;
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;
}
.caixa-busca p{
    display: inline;
    color: #777;
    font-weight: 300;
    font-size: 14px;
}
 */

/* PACE BAR LOAD PAGE */
/* .pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.pace-inactive {
    display: none;
}
.pace .pace-progress {
    background: #006bb1;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
} */

/* *{
	font-family: 'Montserrat', sans-serif;
} */

/* MAIN */
/* main{
	width: calc(100% - 241px);
	float: right;
	-webkit-transition: width .3s ease-in-out;
	-moz-transition: width .3s ease-in-out;
	-o-transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
}

 */
/* PACE BAR LOAD PAGE */
/* .pace .pace-progress {
    background: #FFb708;
    z-index: 2000;
    top: 0;
    height: 2px;
} */


/*  NOTIFICAÃ‡Ã•ES */
.notificacoes{
	display: none;
	position: absolute;
	top: 71px;
	right: 320px;
    background-color: #EEE;
	border-top: 2px solid #1565C0;
	padding: 10px;
	padding-top: 0;
	border-radius:10px;
	background-color: #1565C0;
	z-index: 99990;
}
.notificacoes ul li{
	border-bottom: 1px solid #AAA;
	padding: 7px 5px;
	width: 260px;
	text-align: left;
	color: #595959;
	font-size: 13px;
}
.notificacoes ul li.nao-lida a{
	background: #fff;
}
.notificacoes ul li a{
	color: #595959;
	font-size: 13px;
	padding: 10px;
	margin-left: -10px;
    margin-right: -10px;
	border-radius: 10px;
}
.notificacoes ul li:last-child{
	border: none;
}
.notificacoes ul li p{
	font-weight: normal;
	line-height: 21px;
}
.notificacoes ul li span{
	font-weight: 700;
}
.notificacoes a.btt-notificacoes-lista{
	margin-top: 5px;
	background-color: #1565C0;
	color: #fff;
	margin-top: 10px;
    height: 30px;
    line-height: 30px;
	font-size: 14px;
	text-align: center;
	border-radius:10px;
	font-weight: bold;
}
.notificacoes a.btt-notificacoes-lista:hover{
	background-color: #fff;
	color: #555;
}
/* TABLET */
@media (max-width: 991px) and (min-width: 768px){
	.notificacoes{
		top: 166px;
		right: 60px;
	}
}
/* MOBILE */
@media (max-width: 767px){
	.notificacoes{
		top: 151px;
		right: 25px;
	}
}
/* ESPECIAL */
@media (max-width: 360px){
	.notificacoes{
		right: 5px;
	}
}

.orelha {
    position: absolute;
    top: 44px;
    left: 80px;
    width: 70px;
    height: 70px;
    background: #1565C0;
    background: radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 50px, #1565C0 15px);
}

/* MENUS */
.contorno-botoes-menu{
	width: calc(100% - 271px);
	display: table;
	float: right;
	margin-bottom: 19px;
}
.display-botoes-menu{
	display: table;
	float: left;
}
.display-botoes-menu a{
	float: left;
	padding-left: 35px;
	padding-right: 12px;
	font-size: 12px;
	font-weight: normal;
	color: #666;
	height: 34px;
	line-height: 34px;
	border-radius: 8px;
    border: 1px solid #DFDFDF;
}
.display-botoes-menu a + a{
	margin-left: 10px;
}
.display-botoes-menu a:hover, .display-botoes-menu .selected{
    border:1px solid #1565C0;
    color: #FFFFFF !important;
}
.menu-cursando{
	background: url('../images/assistindo-cinza.svg') 10px 7px no-repeat;
}
.display-botoes-menu .menu-cursando:hover, .menu-cursando.selected{
    background: url('../images/assistindo-branco.svg') 10px 7px no-repeat #1565C0;
}
.menu-favoritos{
    background: url('../images/favoritos-cinza.svg') 9px 6px no-repeat;
}
.display-botoes-menu .menu-favoritos:hover, .menu-favoritos.selected{
    background: url('../images/favoritos-branco.svg') 9px 6px no-repeat #1565C0;

}
.menu-cursados{
    background: url('../images/assistidos-cinza.svg') 10px 8px no-repeat;
}
.display-botoes-menu .menu-cursados:hover, .menu-cursados.selected{
    background: url('../images/assistidos-branco.svg') 10px 7px no-repeat #1565C0;
}
.menu-todos{
    background: url('../images/todos-cinza.svg') 10px 7px no-repeat;
}
.display-botoes-menu .menu-todos:hover, .menu-todos.selected{
    background: url('../images/todos-branco.svg') 10px 7px no-repeat #1565C0;
    cursor: pointer;
}

/* FORMULARIO BUSCA */
.formulario-busca{
	width: 218px;
	padding-right: 6px;
	float: right;
	position: relative;
	margin-top: 0px;
}
.formulario-busca p{
	font-weight: bold;
	font-size: 14px;
	color: #595959;
	margin-bottom: 4px;
}
.formulario-busca #FrmBusca{
	width: 100%;
	height: 34px;
	outline: none;
	color: #333;
	font-weight: normal;
	font-size: 14px;
	padding-left: 15px;
	border-radius: 8px;
	border: 1px solid #DFDFDF;
}
.formulario-busca .botao-busca{
	position: absolute;
	right: -11px;
	bottom: 9px;
	width: 34px;
	height: 34px;
	border:0px;
	cursor: pointer;
	outline: none;
	border-radius: 100px;
	background: url('../images/pesquisar.svg') 50% 50% no-repeat;
}
.formulario-busca .botao-busca:hover{
	background: url('../images/pesquisar-hover.svg') 50% 50% no-repeat;
}


/* TITULO PAGINA */
.contorno-titulo-pagina{
	width: 320px;
	float: left;
	padding-top: 0px;
}
.contorno-titulo-pagina h1{
	width: 100%;
	text-align: left;
	font-weight: 200;
	font-size: 26px;
	color: #595959;
	line-height: 32px;
	margin-bottom: 10px;
}
.contorno-titulo-pagina h1 strong{
	width: 100%;
	display: block;
	font-size: 26px;
	color: #595959;
}

/* MAPEAMENTO PAGINA */
.mapeamento-pagina{
	float: left;
	width: calc(100% - 218px);
	color: #666;
	font-weight: normal;
	font-size: 14px;
	padding-bottom: 24px;
	/*margin-top: -10px;*/
}
.mapeamento-pagina a{
	display: inline;
	color: #666;
	font-weight: normal;
	font-size: 14px;
}
.mapeamento-pagina a:hover{
	text-decoration: underline;
}

.clear, .clearfix {
    clear: both;
}

.total-como-funciona{
	width: 100%;
	margin:0 auto;
	padding-top:0px;
	position:relative;
	z-index:9999;
}

.total-como-funciona h1,
.total-como-funciona h1 p{
	font-size:30px;
	color: #1565C0;
	width:100%;
	text-align:center;
	margin-top: 25px;
}

.total-como-funciona h1 p{
	line-height: 32px;
}

.total-como-funciona h1 strong{
	font-weight: 800!important;
}

.total-como-funciona ul{
	margin-top:50px
}

.total-como-funciona ul .right{float:right}
.total-como-funciona ul li{width:calc(100% - 300px)}
.total-como-funciona ul li .campo-bloco{border-radius:30px;background:#FFF;padding-top:35px;padding-bottom:35px;margin-bottom:22px;position:relative;-webkit-box-shadow:0 0 18px -6px #CCC;-moz-box-shadow:0 0 18px -6px #CCC;box-shadow:0 0 18px -6px #CCC}
.total-como-funciona ul li .campo-bloco h2{width:90px;font-size:80px;font-weight:bold;color:#1565C0;float:left;text-align:right;line-height:57px}
.total-como-funciona ul li .campo-bloco .descricao{float:left;padding-left:25px;padding-right:35px;width:calc(100% - 173px)}
.total-como-funciona ul li .campo-bloco .descricao .display{height:57px;width:1000px;display:table-cell;vertical-align:middle}
.total-como-funciona ul li .campo-bloco .descricao p{font-size:14px;color:#595959;line-height:18px;font-weight:400;text-align:left}

#total-rodape{
	width: 100%;
	padding-left: 54px;
	padding-right: 54px;
	padding-bottom: 25px;
	padding-top: 51px;
	color: #595959;
	font-size: 14px;
	font-weight: 400;
	background-color: #F5F5F5;
	
	bottom: 0px !important;
	right: auto;
	left: auto;
}

#total-rodape a{
	color:  #595959;
}

#total-rodape a:hover{
	text-decoration: underline;
}



@media (max-width:991px) and (min-width:768px){
	.total-como-funciona{
		padding-top:0px;
		width:100%
	}
	
	.total-como-funciona h1, .total-como-funciona h1 p{
		font-size:30px;
		line-height:30px
		}
	}

@media (max-width:767px){
	.total-como-funciona{
		padding-top:50px;
		width:100%
	}

	.total-como-funciona ul li{
		width:100%
	}

	.total-como-funciona h1, .total-como-funciona h1 p{
		font-size:26px; 
		line-height:26px
	}

	.total-como-funciona ul li .campo-bloco h2{
		font-size:60px;
		width:50px;
		line-height:42px
	}

	.total-como-funciona ul li .campo-bloco .descricao{
		width:calc(100% - 133px)
	}

	.total-como-funciona ul li .campo-bloco .descricao .display{
		height:42px
	}
}

/* TABELA MINHAS COMPRAS */
.tabela-lista-minhas-compras h2{
	font-size: 20px;
	font-weight: bold;
	color:#595959;
	margin-top: 30px;
}
.tabela-lista-minhas-compras tr.uprightTr{
    padding: 0px;
    margin: 0px;
    height: 10px;
    /* border: none; */
    border-spacing: 0px;
}
.tabela-lista-minhas-compras td.uprightTd{
    padding: 0px;
    margin: 0px;
    border: none;
    border-spacing: 0px;
	border: 1px solid #DFDFDF;
	padding-top: 8px;
	padding-bottom: 8px;
	height: 51px;
	text-align: center;
	font-size: 13px;
	font-weight: normal;
	color: #333;
}
.tabela-lista-minhas-compras table.uprightTbl{
	border: none;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	width: 100%;
	margin: 0 auto;
	font-size: 14px;
	background: #FFFFFF;
	margin-top: 23px;
}
.tabela-lista-minhas-compras table th{
	font-size: 14px;
	color: #333;
	font-weight: normal;
	padding-bottom: 8px;
}
.tabela-lista-minhas-compras table th.text-left,
.tabela-lista-minhas-compras table td.text-left{
	text-align: left;
	padding-left: 15px;
}
.scroll-tabela-lista-minhas-compras .nenhum-item-cadastrado{
	width: 100%;
	left: 0px;
	bottom: 0px;
	padding-top: 100px;
	padding-bottom: 100px;
}

.th-descricao{
	text-align: left;
	width: 35%;
}
.campo-descricao{
	text-align: left !important;
	/* padding-left: 15px !important; */
}
.situacao-pagamento{
	font-weight: bold;
}

.botao-pagar{
	width: 98px;
	height: 34px;
	line-height: 34px;
	display: table;
	margin: 0 auto;
}

.aviso-deslizar{
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	margin-top: 25px;
}


/* MOBILE */
@media (max-width: 767px){
	.scroll-tabela-lista-minhas-compras{
		width: 100%;
		overflow-x: scroll;
	}
	.scroll-interno{
		width: 1200px;
		min-height: 10px;
		height: auto;
	}
}

/* TABLET */
@media (max-width: 991px) and (min-width: 768px){
	.scroll-tabela-lista-minhas-compras{
		width: 100%;
		overflow-x: scroll;
	}
	.scroll-interno{
		width: 1200px;
		min-height: 10px;
		height: auto;
	}
}

@media (min-width:992px){
	.hidden-md{
		display:none!important
	}
}





/* novos items */
/* MENUS FAQ */
.total-menus-faq{
	width: 100%;
	margin: 0 auto;
	margin-top: 26px;
}
.total-menus-faq ul{
	margin-left: -6px;
	margin-right: -6px;
	margin-bottom: 26px;
}
.total-menus-faq ul li{
	float: left;
	width: 20%;
	padding-left: 6px;
	padding-right:6px;
	margin-bottom: 10px;
}
.total-menus-faq ul li a{
	width: 100%;
	padding-top: 26px;
	padding-bottom: 26px;
	padding-left: 21px;
	padding-right: 21px;
	border: 1px solid #CCC;
	border-radius: 10px;
	color: #595959;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
.total-menus-faq ul li a:hover,
.menu-faq-selecionado{
	border: 1px solid #1565c0 !important;
	color: #1565c0 !important;
}
.total-menus-faq ul li a .icone{
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	background: url('../../imagens/duvidas/gerais.svg') 50% 50% no-repeat;
}
.total-menus-faq ul li a .icone.i-hover,
.total-menus-faq ul li a:hover .icone.i-no-hover,
.total-menus-faq ul li a .icone.i-no-hover.i-no-hover-selecionado{
	display: none;
}
.total-menus-faq ul li a:hover .icone.i-hover,
.total-menus-faq ul li a .icone.i-hover.i-selecionado{
	display: block;
}


/* LISTAGEM FAQ */
.total-listagem-faq .nenhum-item-cadastrado{
	margin-bottom: 20px;
}
.total-listagem-faq{
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid #CCC;
	margin-top: -1px;
}
.total-listagem-faq ul li .icone-campo{
	width: 24px;
	height: 24px;
	float: left;
}
.total-listagem-faq ul li{
	border-top: 1px solid #CCC;
}
.total-listagem-faq ul li h2{
	width: calc(100% - 24px);
	float: left;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	font-weight: bold;
	text-align: left;
	color: #555555;
	font-size: 14px;
	padding-left: 13px;
}
.total-listagem-faq ul li .icone-mais{
	background: url('../images/mais.svg') 0px 50% no-repeat;
}
.total-listagem-faq ul li .icone-menos{
	background: url('../images/menos.svg') 0px 50% no-repeat;
}
.total-listagem-faq ul li .texto-faq{
	width: 100%;
	margin-top: -10px;
	padding-left: 50px;
	padding-right: 37px;
	font-size: 14px;
	color: #595959;
	text-align: left;
	line-height: 28px;
	font-weight: 40;
	display: none;
	padding-bottom: 19px;
}
.total-listagem-faq ul li .texto-faq p{
	font-size: 14px;
	color: #595959;
	text-align: left;
	line-height: 22px;
	font-weight: 400;
	width: 100%;
}
.total-listagem-faq ul li .contorno-click-campo{
	cursor: pointer;				
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 23px;
	padding-bottom: 23px;
}
.total-listagem-faq ul li .contorno-click-campo:hover h2{
	color: #1565c0;
}

/* TABLET */
@media (max-width: 991px) and (min-width: 768px){
	
}

/* MOBILE */
@media (max-width: 767px){
	.total-menus-faq ul li{
		width: 50%;
		margin-bottom: 12px;
	}
}

/* css padrao */
a {
	display:block;
}

li,ul{
	list-style:none;
}

h2,li,p{
	padding:0px;
	margin:0px;
}

ul{
	margin:0;
	padding:0;
}

#mapeamento-pagina h1,li,p{
	padding:0px;
	margin:0px;
}

#mapeamento-pagina p{
	line-height:25px;
	font-size:12px;
}

/* CONTEUDO GERAL */
#total-conteudo-geral{
	padding-left: 0px;
	padding-right: 54px;
	padding-bottom: 51px;
	padding-top: 0px;
}

/* MAPEAMENTO */
#mapeamento-pagina h1 p strong{
	font-size: 26px;
	color: #595959;
	text-align: left;
	font-weight: bold;
}
#mapeamento-pagina p{
	font-weight: 400;
	font-size: 14px;
	color: #595959;
}

/* ESPECIAL */
@media (min-width: 1920px){
	#total-conteudo-geral{
		max-width: 80%;
	}
}

/* TABLET */
@media (max-width: 991px) and (min-width: 768px){
	#total-conteudo-geral{
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* MOBILE */
@media (max-width: 767px){
	#total-conteudo-geral{
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* card meus cursos */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  z-index: 1;
}

.flip-card-back {
  background-color: #1565c0;
  color: white;
  transform: rotateY(180deg);
}

.flip-front {
	border: 0px solid #595959;
  	bottom: 0;
  	left: 0;
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 1;
    background: #fff;
    color: #757575;
    position: absolute; 
}

.flip-topo {
	/* border: 0px solid #595959; */
  	top: 0;
  	right: 0;
	/* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    z-index: 1;
    /* background: #fff; */
    /* color: #757575; */
    position: absolute; 
}

.flip-card-front img {
  position: relative; 
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
}

/* .tabelaDetalhes { */
.tabelaDetalhes {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    overflow:hidden;
    border-collapse:separate;
    /* border: solid #595959 1px; */
    /* -webkit-border-radius: 15px; */
       /* -moz-border-radius: 15px; */
            /* border-radius: 15px; */
}


.tabelaDetalhes td {
    color: #595959;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #595959;
}

.tabelaDetalhes th{
    color: #fff;
    background-color: red;
    font-weight: normal;
    text-align: center;
    padding: 5px;
    font-size: 12px;
}

.imagemCurso img {
    display: inline-block;
    /* width: 2.5em; */
    /* height: auto; */
    vertical-align: middle;
}

.imagemCurso .content {
	font-size: 18px;
	font-weight: 900;
}

/*  novo card dos certificados entregues e disponiveis */
.body {
	background-color: var(--dashboard);
	font-family: Montserrat, sans-serif;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	min-height: 100vh;
	border:  2px solid var(--white);
}

.body h3 {
	margin: 10px 0;
}

.body h5 {
	margin: 5px 0;
	/* text-transform: uppercase; */
}

.body p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
	background-color: var(--dashboard);
	border-radius: 5px;
	/* box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.95); */
	color: var(--white);
	padding-top: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
}

.card-container .img {
	margin-top: 20px;
}

@media only screen and (max-width : 592px) {
  	.card-container .img {
		width:  100%;
	}

	.body {
		margin-top: 10px;
	}

	.body button.primary {
		padding: 10px 50px !important;
	}
}

.card-container .pro {
	color: var(--dashboard);
	background-color: var(--white);
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	/* margin:  10px; */
	top: 10px;
	left: 0;
	width: 100%;
}

.buttons {
	margin-top: 10px;
}

.body button.primary {
	background-color: transparent;
	color: var(--white);
	border: 1px solid var(--white);
	border-radius: 3px;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 20px;
	cursor: pointer;
}

.body button.primary:hover{
	background-color: var(--white);
	border: 1px solid var(--white);
	color: var(--dashboard);
}

.body button.primary.avaliado {
	background-color: var(--dashboard);
	color: var(--white);
	border: 1px solid var(--white);
	border-radius: 3px;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 20px;
	cursor: pointer;
}

.body button.primary.avaliado:hover{
	background-color: var(--dashboard);
	border: 1px solid red;
	color: red;
}

/* formulario de avaliação */

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border-color:  #3949ab !important;
    background-color: #3949ab !important;
}

[type="radio"]:not(:checked)+span:before, 
[type="radio"]:not(:checked)+span:after, 
[type="radio"]:checked+span:before, 
[type="radio"]:checked+span:after, 
[type="radio"].with-gap:checked+span:before, 
[type="radio"].with-gap:checked+span:after {
    border-radius: 0% !important;
}

[type="radio"]:checked+span:after, 
[type="radio"].with-gap:checked+span:after {
    background-color: #3f51b5;
}

[type="radio"]:checked+span:after, 
[type="radio"].with-gap:checked+span:before, 
[type="radio"].with-gap:checked+span:after {
    border: 2px solid #3f51b5;
}

.form-input p {
	font-size: 14px;
}

.cadastro input {
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  padding: 14px 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  font-size: 14px;
  font-family: 'Poppins'; 
}
  
.cadastro input:focus {
    border: 1px solid var(--dashboard); 
}

.cadastro textarea.materialize-textarea{
	height: 6rem;
	border:  1px solid #ebebeb;
	outline: nome;
}

.cadastro .form-input {
	margin-top: 30px;
}

.a {
	color: green;
	opacity: 0.3;
}

.secondary-content:hover {
	text-decoration: underline;
}

.secondary-content {
	color: var(--dashboard);
	cursor: pointer;
}



/* calendario tudo isso, ai que delicia */

.showcase .container {
  min-height: 350px;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

#my-calendar table {
    width: 100%;
  }
  
  #my-calendar table tr th {
      border: 1px solid #ddd;
      width: 80px;
      height: 30px;
      text-align: center;
      color: gray;
      font-size: 14px;
      font-weight: 400;
  }
#my-calendar table tr td {
    border: 1px solid #ddd;
    width: 80px;
    text-align: center;
}
#my-calendar .calendar tr td:last-child>a {
    color: #C4C4C4;
}
#my-calendar .calendar td>a {
    position: relative;
    z-index: 2;
    font-size: 20px;
    font-weight: 300;
}
#my-calendar .calendar td div.highlight {
    background-color: #EEEEEE;
    color: red;
    width: 100%;
    left: 0;
    right: 1px;
    position: absolute;
    top: 0;
    bottom: 0px;
    z-index: 0;
}
#my-calendar .calendar td {
    position: relative;
}
#my-calendar table tr td {
    height: 90px;
}

@media only screen and (max-width : 592px) {
  	#my-calendar table tr td {
	    height: 60px;
	}
}

